:root,
:root[data-scheme="dark"] {
	--background: #000;
	--text: #e9e9e9;
	--link: #f5cc12;

	--map-ocean: #000441;
	--map-forests: #002506;

	--line-green: #82fc37;
	--line-red: #ff3a3a;
	--line-blue: #1769ff;
	--line-orange: #f86e23;
	--line-pink: #ff80a8;
	--line-yellow: #f5cc12;
	--line-light: #827e7e;
	--line-emerald: #28d999;
	--line-purple: #992caf;
}

:root[data-scheme="light"] {
	--background: #f1e9d4;
	--text: #333333;
	--link: #a5378b;

	--map-ocean: #a1caea;
	--map-forests: #b6e4bd;

	--line-green: #038245;
	--line-red: #c00c0c;
	--line-blue: #024999;
	--line-orange: #ce881e;
	--line-pink: #fa9082;
	--line-yellow: #f7c617;
	--line-light: #9c9a8c;
	--line-emerald: #14ad90;
	--line-purple: #a5378b;
}

:root {
	font-size: 16px;
	--main-radius: 1rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family:
		"Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

a {
	color: var(--link);
	font-weight: 700;
	text-decoration: underline;
}

a:hover,
a:active {
	opacity: 0.85;
}

a:visited {
	filter: saturate(25%);
}

@media (max-width: 720px) {
	:root {
		font-size: 13px;
	}

	body {
		background-color: var(--map-ocean);
	}
}

@media (max-width: 360px) {
	:root {
		font-size: 12px;
	}
}
