---
import "./Default.layout.css";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Rafael Pradella: Front-End Developer",
	description = "A brazilian Front-End Developer based on Porto, Portugal. Focused in UI, UX and Web Performance",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="mask-icon"
      sizes="any"
      href="icons/icon.svg"
      color="var(--line-emerald)"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico" />
    <link rel="manifest" href="manifest.webmanifest" />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>
