---
import Default from "@components/layout/Default.layout.astro";

import MapAnimation from "@components/MapAnimation/index.vue";
import SocialLinks from "@components/SocialLinks.vue";
---

<Default>
	<main>
		<MapAnimation client:load />
		<section>
			<h1>Rafael Pradella</h1>
			<p>A brazilian Front-End Developer that loves coding + design</p>
			<p>
				Based in Porto, Portugal. Currently working at <a
					href="https://www.devexperts.com"
					target="_blank"
					rel="noopener">Devexperts</a
				>
			</p>
			<SocialLinks />
		</section>
	</main>
</Default>

<style scoped>
	main {
		align-items: center;
		background-color: var(--map-ocean);
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100dvh;
		overflow: hidden;

		@media (max-width: 720px) {
			grid-gap: 0;
			grid-template-rows: 1.1fr 0.9fr;
			grid-template-columns: 100%;
			height: 100dvh;
		}
	}
	section {
		@media (max-width: 720px) {
			margin-inline: 2.5rem;
		}
	}
	p {
		margin-block: 0.75rem;
	}
</style>
