body {
  background-color: #000000;
  color: #dddddd;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200vh
}

#app{
  background-color: #000224;
  color: #ffffff;
  height: 95vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

svg{
  width: 70vw;
  transform: translate(-20vw, 10vh);
  left: 0;
}

.u-newTrain{
  fill: #000000;
  opacity: .5;
}